* {
  box-sizing: border-box;
}


.fix-header {
  background-color: #ffffff;
  position: fixed;
  top: -66px;
  left: 0;
  width: 100%;
  z-index: 100;
}

.scrolled {
  width: 1060px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.logoImg {
  width: 170px;
  height: 36px;
  margin-top: 7px;
}

.telTime {
  display: flex;
  margin-left: auto;
}

.telImg {
  width: 190px;
  height: 21px;
  margin-top: 20px;
  margin-right: 10px;
}

.time {
  font-size: 10px;
  margin: 0;
  align-self: center;
}

.scrolled p {
  width: 170px;
  height: 40px;
  text-align: center;
  color: #040066;
  border: solid 1px #040066;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 8px;
  background-color: #ffffff;
  position: relative;
}

.scrolled p:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 12px;
  right: 3px;
}

.scrolled p:hover {
  color: #ffffff;
  background-color: #040066;
}

.scrolled p:hover:after {
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%);
}

.scrolled a {
  text-decoration: none;
}

/* ヘッダーのレイアウト */
header {
  background-color: #f7f7f7;
  height: 32px;
  display: flex;
  align-items: center;
}

header .headerWidth {
  width: 1040px;
  display: flex;
  justify-content: flex-start;
  align-items: inherit;
  margin: 0 auto;
}

header .headerWidth ul {
  list-style: none;
  display: flex;
  padding: 0;
}

header .headerWidth .headerTitle {
  color: #272727;
}

header .headerWidth ul li {
  font-size: 12px;
  color: #666666;
  border-left: solid 1px #cccccc;
  padding: 0 9px;
}

header .headerWidth .enterInfo {
  border-left: none;
  margin-left: 248px;
}

header .headerWidth ul li:first-child {
  border-left: none;
}

header .headerWidth a {
  text-decoration: none;
  color: inherit;
}

/* ホバー時の装飾 */
header .headerWidth ul a:hover {
  border-bottom: solid 0.5px #666666;
}

header .headerWidth .loginBtn span:hover {
  border-bottom: solid 1px #040066;
}

header .loginBtn {
  color: #040066;
  width: 118px;
  background-color: #d9d9d9;
  font-size: 12px;
  height: 32px;
  padding-top: 7px;
}

header .loginBtn:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 20px;
  background-image: url(../images/nkou_icon.png);
  background-size: contain;
  vertical-align: middle;
  margin: 0 5px 0 4px;
}

#mainVisual .headerLogo {
  width: 1040px;
  height: 93px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#mainVisual .tell {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 33px;
}

#mainVisual .tell small {
  color: #919aa0;
  text-align: center;
  padding-top: 5px;
}

#mainVisual .mainNav {
  display: flex;
  width: 1040px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
}

#mainVisual .mainNav a {
  text-decoration: none;
  color: inherit;
}

#mainVisual .mainNav01 {
  height: 31px;
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 4px;
}

#mainVisual .mainNav01 li {
  font-size: 15px;
  width: 159px;
  border-left: solid 1px #dcdddd;
  text-align: center;
  line-height: 16px;
  letter-spacing: 3px;
}

#mainVisual .mainNav01 .aboutSchool {
  color: #20296f;
  position: relative;
}

#mainVisual .mainNav01 .aboutSchool span {
  font-size: 13px;
  font-family: monospace;
  letter-spacing: 0;
  font-weight: 600;
}

#mainVisual .mainNav .aboutSchool:before {
  content: "";
  top: 46px;
  left: 70px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #191836;
  position: absolute;
}

#mainVisual .mainNav01 .netCourse span {
  border-right: solid 1px #dcdddd;
  font-family: monospace;
  font-size: 13px;
  letter-spacing: 0;
  border-right: none;
  font-weight: 600;
  color: #9EA5AA;
}

#mainVisual .mainNav01 .netCourse:hover,
#mainVisual .mainNav01 .netCourse:hover span {
  color: #20296f;
}

#mainVisual .mainNav01 .commuteCourse span {
  border-right: solid 1px #dcdddd;
  font-family: monospace;
  font-size: 13px;
  letter-spacing: 0;
  border-right: none;
  font-weight: 600;
  color: #9EA5AA;
}

#mainVisual .mainNav01 .commuteCourse:hover,
#mainVisual .mainNav01 .commuteCourse:hover span {
  color: #20296f;
}

#mainVisual .mainNav01 .allianceSchool span {
  border-right: solid 1px #dcdddd;
  font-family: monospace;
  font-size: 13px;
  letter-spacing: 0;
  border-right: none;
  font-weight: 600;
  color: #9EA5AA;
}

#mainVisual .mainNav01 .allianceSchool:hover,
#mainVisual .mainNav01 .allianceSchool:hover span {
  color: #20296f;
}

#mainVisual .mainNav02 {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 0;
  text-align: center;
}

#mainVisual .mainNav02 li {
  width: 170px;
  height: 40px;
  border: solid 1px #272727;
  margin-left: 12px;
  position: relative;
}

#mainVisual .mainNav02 li:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 12px;
  right: 3px;
}

#mainVisual .mainNav02 a {
  display: block;
  padding: 10px 0;
}

/* ホバー時の装飾 */
#mainVisual .mainNav02 li:hover:after {
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%);
}

#mainVisual .mainNav02 a:hover {
  background-color: #20296f;
  transition: all 0.3s ease;
  color: #ffffff;
}

#mainVisual .aboutNavList {
  width: 100%;
  background-color: #191836;
  position: relative;
}

#mainVisual .aboutNavList ul {
  width: 1060px;
  height: 88px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 4px;
  padding-left: 0;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

#mainVisual .aboutNavList ul li {
  font-size: 14px;
  height: 33px;
  padding: 7px;
  letter-spacing: 0.9px;
  display: inline-block;
}

#mainVisual .aboutNavList ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 6px;
}

#mainVisual .aboutNavList ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 15px;
  margin-bottom: 3px;
  background: url("../images/icon_backslash.png") no-repeat;
  vertical-align: middle;
}

/* 擬似要素の打ち消し */
#mainVisual .aboutNavList .qualification:before {
  content: none;
}

/* ホバー時の装飾 */
#mainVisual .aboutNavList ul li a:hover {
  color: #191836;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

#mainVisual .mainVisual {
  position: relative;
}

#mainVisual .mainVisual img {
  width: 100%;
  height: 530px;
  object-fit: cover;
}

#mainVisual h1 {
  font-size: 52px;
  font-weight: 400;
  position: absolute;
  top: 24%;
  left: 50%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  letter-spacing: 16px;
}

#mainVisual .mainVisual h1:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 40px;
  display: inline-block;
  width: 200px;
  height: 1px;
  transform: translateX(-50%);
  background-color: #ffffff;
}

#mainVisual .mainVisual h1:after {
  content: "";
  display: list-item;
  width: 93px;
  height: 13px;
  background-image: url("../images/imgText_about.png");
  background-size: contain;
  list-style: none;
  margin: 40px auto 0 auto;
}

/* 画像サイズ指定 */
#mainVisual .headerLogo .nkouLogoImg {
  width: 211px;
  height: 45px;
}

#mainVisual .headerLogo .tell img {
  width: 210px;
  height: 28px;
}

/* パンくずリストの装飾 */
.topicPath {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px black;
}

.topicPath ul {
  padding: 0;
  margin: 0 auto;
  width: 1060px;
  line-height: 25px;
  list-style: none;
}

.topicPath ul li {
  display: inline-block;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #272727;
  display: inline-block;
}

.topicPath ul li a {
  text-decoration: none;
  color: #36538d;
}

.topicPath ul .nkouPath:before {
  content: ">";
  font-size: 10px;
  padding: 0 4px 3px 0;
  vertical-align: middle;
}

/* パンくずリストのホバー時の装飾 */
.topiPath ul li a:hover {
  border-bottom: solid 1px #36538d;
}

.subTitle {
  width: 1040px;
  margin: 0 auto;
  padding-top: 45px;
}

.subTitle h2 {
  font-size: 33px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 12px;
  line-height: 60px;
}

.subTitle h3 {
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  margin: 60px 0;
  font-weight: normal;
  position: relative;
}

.subTitle h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  display: inline-block;
  width: 200px;
  height: 1px;
  transform: translateX(-50%);
  background-color: black;
}

.subTitle p {
  width: 640px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
}

/* 「教育方針」のレイアウト */
#policy {
  width: 1040px;
  margin: 0 auto;
}

#policy h2 {
  border-bottom: solid 1px #272727;
  padding-bottom: 20px;
  position: relative;
}

#policy h2:before {
  content: "";
  position: absolute;
  left: 135px;
  bottom: 0px;
  display: inline-block;
  width: 270px;
  height: 2px;
  transform: translateX(-50%);
  background-color: black;
}

#policy .policyTag {
  display: flex;
  justify-content: space-around;
  height: 295px;
}

#policy .policyTag img {
  margin-right: -150px;
}

#policy ul {
  list-style: none;
  width: 572px;
  padding: 0;
}

#policy .policyTag ul li {
  height: 53px;
  font-size: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#policy .policyTag ul span {
  width: 89px;
  line-height: 53px;
  font-size: 24px;
  border-right: solid 1px #272727;
  margin-right: 15px;
}

#policy .nstandsBtn {
  margin: 80px auto 0 auto;
  width: 686px;
  height: 327px;
  display: flex;
  background-color: #f7f7f7;
  border: solid 1px #dddddd;
}

#policy .nstandsBtn .standardImg {
  margin: 32px 20px 32px 42px;
}

#policy .nstandsBtn .nstandDetail {
  width: 424px;
  height: 265px;
  margin-top: 32px;
}

#policy .nstandsBtn .nstandDetail h3 {
  margin: 0;
  font-size: 22px;
  font-weight: normal;
}

#policy .nstandsBtn .nstandDetail p {
  text-align-last: justify;
  width: 100%;
  height: 112px;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 40px;
  position: relative;
}

#policy .nstandsBtn .nstandDetail p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 137%;
}

#policy .nstandsBtn .nstandDetail .readMore {
  position: absolute;
  top: 226px;
  left: 226px;
  margin-left: 15px;
}

.readMore {
  width: 70px;
  height: 13px;
}

/* リンクの範囲を親要素まで広げる */
.nstandsBtn {
  position: relative;
}

.nstandsBtn .nstandDetail a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* N RTANDARDSのホバー時の装飾 */
.nstandsBtn:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

/* N高の魅力のレイアウト */
#charm {
  width: 1060px;
  margin: 0 auto;
}

#charm h2 {
  border-bottom: solid 1px #272727;
  padding-bottom: 20px;
  position: relative;
}

#charm h2:before {
  content: "";
  position: absolute;
  left: 135px;
  bottom: 0px;
  display: inline-block;
  width: 270px;
  height: 2px;
  transform: translateX(-50%);
  background-color: black;
}

#charm .charmTag01 {
  display: flex;
  justify-content: space-between;
  margin: 85px 0 80px 0;
}

#charm .charmTag01 img {
  width: 489px;
  height: 514px;
}

#charm .charmDetail01 {
  width: 489px;
  height: 320px;
}

#charm h3 {
  font-size: 25px;
  line-height: 45px;
  font-weight: normal;
  color: #272727;
  border-bottom: solid 1px #272727;
  padding-bottom: 25px;
  margin-bottom: 15px;
  margin-top: 0;
}

#charm p {
  margin-top: 0;
  line-height: 29px;
  letter-spacing: 0.5px;
}

#charm .charmDetail01 small {
  display: inline-block;
  font-size: 12px;
}

#charm .charmTag02 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  height: 402px;
}

#charm .charmTag02 .charmDetail02 {
  width: 489px;
  height: 230px;
}

/* 高卒資格取得のためのBasic Program */
#basicProgram {
  width: 100%;
  background-color: #f7f7f7;
}

#basicProgram .basicProgramCenter {
  width: 1060px;
  margin: 0 auto;
}

#basicProgram .basicProgramTitle {
  text-align: center;
}

#basicProgram .basicProgramTitle h2 {
  font-size: 33px;
  font-weight: normal;
  padding-top: 50px;
  position: relative;
}

#basicProgram .basicProgramTitle h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 200px;
  height: 1px;
  transform: translateX(-50%);
  background-color: black;
}

#basicProgram .basicProgramTitle p {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 60px;
  text-align: center;
}

#basicProgram .basicProgram1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  padding-bottom: 100px;
}

#basicProgram .basicProgram1 .basicProgramDetail1 {
  width: 285px;
  height: 480px;
  position: relative;
}

#basicProgram .basicProgram1 .basicProgramDetail1:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#basicProgram .basicIcon {
  width: 99px;
  height: 25px;
  padding: 5px 0 0 10px;
  background-color: #272727;
}

#basicProgram .basicIcon img {
  width: 79px;
  height: 14px;
}

#basicProgram h3 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
}

#basicProgram h3 span {
  font-size: 13px;
}

#basicProgram p {
  font-size: 16px;
  line-height: 29px;
  font-weight: normal;
  text-align: justify;
  letter-spacing: 0.2px;
  position: relative;
}

#basicProgram small {
  font-size: 11px;
  line-height: 20px;
  display: inline-block;
}

#basicProgram .readMore {
  position: absolute;
  top: 92%;
  margin-left: 15px;
}

#basicProgram small:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 92%;
}

#basicProgram a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#basicProgram .basicImg {
  width: 719px;
  height: 503px;
}


/* advanced program */
#advancedProgram {
  width: 1060px;
  margin: 0 auto;
}

#advancedProgram .advancedProgramTitle {
  text-align: center;
}

#advancedProgram .advancedProgramTitle h2 {
  font-size: 33px;
  font-weight: normal;
  padding-top: 60px;
  position: relative;
}

#advancedProgram .advancedProgramTitle h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: inline-block;
  width: 200px;
  height: 1px;
  transform: translateX(-50%);
  background-color: black;
}

#advancedProgram .advancedIcon {
  width: 123px;
  height: 25px;
  background-color: #272727;
  padding: 5px 0 0 10px;
}

#advancedProgram .advancedIcon img {
  width: 103px;
  height: 14px;
}

#advancedProgram .advancedProgramTitle p {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 60px;
  text-align: center;
}


/* advanced profram各項目 */
#advancedProgram .advancedPrograms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

#advancedProgram h3 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
}

#advancedProgram p {
  font-size: 16px;
  line-height: 29px;
  font-weight: normal;
  text-align: justify;
  letter-spacing: 0.2px;
  position: relative;
}

#advancedProgram .advancedPrograms .lessonParag:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 114%;
}

#advancedProgram .advancedPrograms .tutor:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 92%;
}

#advancedProgram .advancedPrograms .programLessonParag:before,
#advancedProgram .advancedPrograms .cookingParag:before,
#advancedProgram .advancedPrograms .agricultureParag:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 124%;
}

#advancedProgram .advancedPrograms .internationalParag:before,
#advancedProgram .advancedPrograms .reviewParag:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 130%;
}

#advancedProgram .readMore {
  margin-left: 15px;
  margin-top: 20px;
}

#advancedProgram a {
  text-decoration: none;
  color: #272727;
}

#advancedProgram .advancedPrograms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

#advancedProgram .lesson {
  width: 285px;
  height: 535px;
}

#advancedProgram .tutor {
  width: 285px;
  height: 400px;
  position: relative;
}

#advancedProgram .programLesson,
#advancedProgram .cooking,
#advancedProgram .agriculture {
  width: 285px;
  height: 440px;
}

#advancedProgram .internationalEdu {
  width: 285px;
  height: 330px;
}

#advancedProgram .review {
  width: 285px;
  height: 351px;
}

/* ホバーの設定 */
#advancedProgram .advancedPrograms a:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#advancedProgram .advancedImg {
  width: 719px;
  height: 503px;
}

#activity .itTool {
  background-color: #f7f7f7;
  width: 100%;
  height: 834px;
}

#activity .event {
  background-color: #ffffff;
  width: 100%;
  height: 834px;
}

#activity .startUp {
  background-color: #f7f7f7;
  width: 100%;
  height: 810px;
}

#activity .club {
  background-color: #ffffff;
  width: 100%;
  height: 810px;
}

#activity .school {
  background-color: #ffffff;
  width: 100%;
  height: 833px;
}

#activity .itTool h2,
#activity .event h2,
#activity .startUp h2,
#activity .club h2,
#activity .school h2,
#activity .course h2 {
  text-align: center;
  font-size: 33px;
  line-height: 59px;
  padding: 70px 0 80px 0;
  margin: 0;
  font-weight: normal;
  position: relative;
}

#activity .itTool h2:after,
#activity .event h2:after,
#activity .startUp h2:after,
#activity .club h2:after,
#activity .school h2:after,
#activity .course h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 70px;
  display: inline-block;
  width: 200px;
  height: 1px;
  transform: translateX(-50%);
  background-color: black;
}

#activity .itTool .itToolFlex,
#activity .event .eventFlex,
#activity .club .clubFlex,
#activity .school .schoolFlex {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 503px;
  margin: 0 auto;
  position: relative;
}

#activity .startUp .startUpFlex {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 480px;
  margin: 0 auto;
  position: relative;
}

#activity .course .courses {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 503px;
  margin: 0 auto 110px auto;
  position: relative;
}


#activity .startUpImg {
  width: 720px;
  height: 480px;
}


#activity .itToolDetails {
  width: 285px;
  height: 450px;
  position: relative;
}

#activity .eventDetails {
  width: 285px;
  height: 375px;
  position: relative;
}

#activity .startUp .startUpDetails {
  width: 285px;
  height: 301px;
  position: relative;
}

#activity .club .clubDetails {
  width: 285px;
  height: 306px;
  position: relative;
}

#activity .school .schoolDetails {
  width: 285px;
  height: 384px;
  position: relative;
}

#activity h3 {
  font-size: 22px;
  line-height: 44px;
  margin: 0;
  font-weight: normal;
}

#activity p {
  font-size: 16px;
  line-height: 29px;
  font-weight: normal;
  text-align: justify;
  position: relative;
}

#activity .itTool .itToolDetails .readMore,
#activity .event .eventDetails .readMore {
  position: absolute;
  top: 98%;
  margin-left: 15px;
}

#activity .startUp .startUpDetails .readMore {
  position: absolute;
  top: 89%;
  margin-left: 15px;
}

#activity .club .clubDetails .readMore {
  position: absolute;
  top: 88%;
  margin-left: 15px;
}

#activity .courses .readMore {
  position: absolute;
  top: 91%;
  margin-left: 15px;
}

#activity .school .schoolDetails .readMore {
  position: absolute;
  top: 88%;
  margin: 15px 0 0 15px;
}

#activity a {
  text-decoration: none;
  color: #272727;
}

#activity .itSentence {
  width: 285px;
  height: 450px;
}

#activity .nikoniko {
  width: 285px;
  height: 371px;
}

#activity .startUpSentence {
  width: 285px;
  height: 301px;
}

#activity .clubSentence {
  width: 285px;
  height: 312px;
}

#activity .courseSentenceFirst {
  width: 285px;
  height: 391px;
}

#activity .courseSentenceSecond {
  width: 285px;
  height: 488px;
}

#activity .commuteLink {
  width: 285px;
  height: 390px;
}

/*readmoreの前の矢印調整*/
#activity .itTool .itToolDetails p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 110%;
}

#activity .event .eventDetails p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 120%;
}

#activity .startUp .startUpDetails p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 119%;
}

#activity .club .clubDetails p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 113%;
}

#activity .courses .courseDetailFirst p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 119%;
}

#activity .courses .courseDetailSecond p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 109%;
}

#activity .school .schoolDetails p:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 13px;
  background: url("../images/icon_arrow01.png") no-repeat;
  position: absolute;
  top: 139%;
}

#activity .itToolFlex .itToolDetails:hover,
#activity .eventFlex .eventDetails:hover,
#activity .startUpFlex .startUpDetails:hover,
#activity .clubFlex .clubDetails:hover,
#activity .schoolFlex .schoolDetails:hover,
#activity .courses .courseDetailFirst:hover,
#activity .courses .courseDetailSecond:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#activity .course {
  background-color: #f7f7f7;
  width: 100%;
  height: 1448px;
}

#activity .courses .courseDetailFirst {
  width: 285px;
  height: 384px;
  position: relative;
}

#activity .courses .courseDetailSecond {
  width: 285px;
  height: 479px;
  position: relative;
}

#activity .course h3 {
  font-size: 22px;
  line-height: 40px;
  margin: 0;
  font-weight: normal;
}

/* N高って？ */
#activity .whatIsNkou {
  width: 1060px;
  margin: 100px auto;
}

#activity .whatIsNkou img {
  width: 1060px;
  height: 300px;
}

#activity .whatIsNkou:hover {
  opacity: 0.8;
}

/* 画像サイズ指定 */
#activity .activityImg {
  width: 719px;
  height: 503px;
}

#activity .aboutNav {
  background-color: #f7f7f7;
  height: 450px;
  margin-bottom: 82px;
}

#activity .aboutNav .aboutNavCenter {
  width: 1040px;
  height: 328px;
  margin: 0 auto;
  padding-top: 70px;
}

#activity .aboutNav .aboutNavCenter .title {
  font-size: 25px;
  line-height: 45px;
  width: 409px;
  font-weight: normal;
}

#activity .aboutNav .aboutNavTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

#activity .aboutNav .aboutNavTop ul:before {
  content: "";
  display: inline-block;
  background-image: url("../images/arrow_black.png");
  background-size: contain;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 95%;
}

#activity .aboutNav .aboutNavTop ul {
  width: 477px;
  height: 133px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#activity .aboutNav .stripeTop {
  background-image: url("../images/about_background.png");
  width: 489px;
  height: 145px;
}

#activity .aboutNavCenter ul {
  margin: 6px 0 0 6px;
  background-color: #ffffff;
  padding-left: 30px;
}

#activity .aboutNavCenter ul:hover {
  opacity: 0.8;
}

#activity .aboutNav .aboutNavTop ul li,
#activity .aboutNav .aboutNavBottom ul li {
  font-size: 13px;
  line-height: 23px;
  width: 409px;
}

#activity .aboutNav a {
  text-decoration: none;
  color: #272727;
}

#activity .aboutNav .aboutNavBottom {
  display: flex;
  justify-content: space-between;
}

#activity .aboutNav .stripeBottom {
  background-image: url("../images/about_background.png");
  width: 489px;
  height: 123px;
}

#activity .aboutNav .aboutNavBottom ul {
  width: 477px;
  height: 111px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#activity .aboutNav .aboutNavBottom ul:before {
  content: "";
  display: inline-block;
  background-image: url("../images/arrow_black.png");
  background-size: contain;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 95%;
}

#detail {
  margin-bottom: 70px;
}

#detail .nkouDetail {
  width: 100%;
  height: 247px;
  background-image: url("../images/detail_background.png");
}

#detail h2 {
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  margin: 0;
}

#detail .detailBtn {
  width: 550px;
  height: 134px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#detail .detailBtn ul {
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

#detail .detailBtn ul li {
  background-color: #ffffff;
  color: #272727;
  width: 258px;
  height: 53px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 14px 0;
  position: relative;
}

#detail .detailBtn ul li:after {
  content: "";
  display: inline-block;
  background-image: url("../images/arrow_black.png");
  background-size: contain;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 42%;
  left: 93%;
}

#detail .detailBtn ul li a {
  text-decoration: none;
  display: block;
  color: #272727;
}

#detail .detailBtn .book {
  margin-bottom: 20px;
  position: relative;
}

#detail .detailBtn .book:before {
  content: "";
  display: inline-block;
  background-image: url("../images/book_icon.png");
  background-size: contain;
  width: 29px;
  height: 27px;
  position: absolute;
  top: 12px;
  left: 20px;
}

#detail .detailBtn .conversation {
  position: relative;
}

#detail .detailBtn .conversation:before {
  content: "";
  display: inline-block;
  background-image: url("../images/conversation_icon.png");
  background-size: contain;
  width: 29px;
  height: 27px;
  position: absolute;
  top: 12px;
  left: 20px;
}

#detail .detailBtn .detailTel {
  width: 250px;
  height: 120px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

#detail .detailBtn .detailTel img {
  margin-top: 10px;
  width: 250px;
  height: 28px;
}

#detail .detailBtn .detailTel small {
  color: #ffffff;
  padding-left: 65px;
  margin: 7px 0 24px 0;
}

#detail .detailBtn .detailTel .contact {
  color: #ffffff;
  width: 212px;
  height: 40px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: solid 1px #ffffff;
  padding: 10px 0;
  margin-left: 40px;
  text-decoration: none;
}

/* ホバーの装飾 */
#detail .nkouDetail .detailBtn ul li:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}

#detail .detailBtn img:hover {
  opacity: 0.7;
}

#detail .nkouDetail .detailBtn .detailTel .contact:hover {
  text-decoration: underline;
}

#detail .nkouDetail02 div {
  padding: 0;
  width: 550px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 40px auto 0 auto;
}

#detail .nkouDetail02 div p {
  border: solid 1px #272727;
  width: 256px;
  height: 42px;
  margin: 0;
  padding-top: 12px;
  padding-left: 90px;
  color: #272727;
  font-size: 14px;
  position: relative;
}

#detail .nkouDetail02 div p:before {
  content: "";
  display: inline-block;
  background-image: url("../images/arrow_black.png");
  background-size: contain;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 42%;
  left: 93%;
}

#detail .nkouDetail02 div a {
  width: 256px;
  height: 42px;
  text-decoration: none;
  display: block;
  color: #272727;
}

/* ホバー時の装飾 */
#detail .nkouDetail02 div p:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.3s ease;
  color: #ffffff;
}

#detail .nkouDetail02 div a:hover {
  color: #ffffff;
}

#detail .nkouDetail02 div p:hover::before {
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%);
}

#detail .otherSchools {
  width: 1040px;
  margin: 0 auto;
  border-top: solid 1px #e1e1e1;
}

#detail .otherSchools h3 {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin: 40px 0 30px 0;
}

#detail .otherSchools .schoolSeparate {
  display: flex;
  justify-content: space-around;
}

#detail .otherSchools .stripe {
  width: 488px;
  height: 110px;
  background-image: url("../images/about_background.png");
}

#detail .otherSchools .stripe a {
  text-decoration: none;
}

#detail .otherSchools .stripe .school01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  margin: 6px 0 0 6px;
  width: 476px;
  height: 98px;
}

#detail .otherSchools .stripe .school01 img {
  width: 134px;
  height: 35px;
}

#detail .otherSchools .stripe img {
  margin: 0 auto;
}

#detail .otherSchools .stripe .school02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  margin: 6px 0 0 6px;
  width: 476px;
  height: 98px;
}

#detail .otherSchools .stripe .school02 img {
  width: 172px;
  height: 45px;
}

#detail .otherSchools .schoolSeparate p {
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto;
  padding-top: 10px;
  color: #272727;
}

/* ホバー時の装飾 */
#detail .otherSchools .stripe .school01:hover,
#detail .otherSchools .stripe .school02:hover {
  opacity: 0.7;
}

/* 後半のナビゲーション */
footer {
  width: 100%;
  height: 1021px;
  margin: 0 auto;
  padding-top: 40px;
  background-color: #f8f8f8;
}

footer .footerCenter {
  width: 1060px;
  margin: 0 auto;
}

footer .footerTop {
  display: flex;
  position: relative;
}

footer .footerTop ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

footer .footerTop ul li {
  font-size: 16px;
  font-weight: 700;
  width: auto;
  color: #040066;
  border-right: solid 1px #989cba;
  padding-right: 10px;
  margin-right: 10px;
}

footer .footerTop .pageTopBtn {
  position: absolute;
  right: 8%;
}

footer .footerTop ul li:last-child {
  border-right: none;
}

footer .footerTop img {
  margin-top: -8px;
}

footer .footerTop a {
  color: #040066;
}

footer .footerTopList {
  display: flex;
}

footer .footerTopList .footerListTitle {
  font-size: 16px;
  font-weight: 700;
}

footer .footerTopList .footerTopList01 .adprSmall {
  font-size: 11px;
}

footer .footerTopList ul {
  margin-right: 20px;
  padding: 0;
}

footer .footerTopList02,
footer .footerTopList03,
footer .footerTopList04,
footer .footerTopList05 {
  margin-top: 23px;
}

footer ul li {
  font-size: 14px;
  line-height: 20px;
  width: 191px;
  margin-bottom: 10px;
  font-weight: normal;
  list-style: none;
}

footer .footerTopList .borderBottom {
  border-bottom: solid 1px #cccccc;
  padding-bottom: 8px;
}

footer .footerTopList .navy {
  color: #040066;
}

footer a {
  text-decoration: none;
  color: #272727;
}

/* ホバーの装飾 */
footer li:hover {
  text-decoration: underline;
}

footer .snsNav {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #cccccc;
  padding-top: 20px;
}

footer .snsNav .overView ul {
  width: 312px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

footer .snsNav .overView ul li {
  font-size: 14px;
}

footer .snsNav .snsBtn {
  display: flex;
}

footer .snsBtn .twitter {
  width: 155px;
  height: 48px;
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  border-right: solid 1px #cccccc;
  position: relative;
}

footer .snsBtn .twitter:after {
  content: ">";
  display: inline-block;
  top: 30%;
  left: 90%;
  position: absolute;
  color: #cccccc;
}

footer .snsBtn .twitter:hover {
  background-color: #e4e2e2;
}

footer .snsBtn .facebook {
  width: 155px;
  height: 48px;
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  border-right: solid 1px #cccccc;
}

footer .snsBtn .facebook:after {
  content: ">";
  display: inline-block;
  top: 30%;
  left: 90%;
  position: absolute;
  color: #cccccc;
}

footer .snsBtn .facebook:hover {
  background-color: #e4e2e2;
}

footer .snsBtn .youtube {
  width: 190px;
  height: 48px;
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

footer .snsBtn .youtube:after {
  content: ">";
  display: inline-block;
  top: 30%;
  left: 90%;
  position: absolute;
  color: #cccccc;
}

footer .snsBtn .youtube:hover {
  background-color: #e4e2e2;
}

footer .snsBtn p {
  margin: 0;
  font-size: 12px;
}

footer .snsBtn img {
  width: 29px;
  height: 27px;
  padding-right: 5px;
}

footer .footerBottom {
  background-color: #1b1b1b;
  height: 49px;
  width: 100%;
}

footer .footerBottom .footerNav {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

footer .footerNav small {
  font-size: 11px;
  line-height: 15px;
  color: #999999;
  position: relative;
}

footer .footerNav span {
  font-size: 20px;
  position: absolute;
  left: -15px;
}

footer .footerNav a {
  text-decoration: none;
}

/* ホバーの装飾 */
footer .footerNav a:hover {
  text-decoration: underline;
  color: #999999;
}